<div class="card mb-3 mt-5 container">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://cdn.website-editor.net/97f420ccea2146b3ba8894cfae57b06a/dms3rep/multi/dia-programador-ingenieria-unir-mexico.jpg" class="img-fluid rounded-start" width="1800px" height="1800px"  alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Contact Me</h5>
        <p class="card-text">
         <li class="mb-3"><i class="fa-brands fa-whatsapp fa-2xl"></i> 786-728-65-81</li>
         <li class="mb-3"><i class="fa-brands fa-github fa-2xl"></i><a href=" https://github.com/JorgeEstenger"> https://github.com/JorgeEstenger</a></li>
         <li class="mb-3"><i class="fa-brands fa-linkedin-in fa-2xl"></i><a href="https://www.linkedin.com/in/jorge-estenger-a2405b267/">  https://www.linkedin.com/in/jorge-estenger-a2405b267/</a></li>
         <li><i class="fa-regular fa-envelope fa-2xl"></i>   jorgeestenger9@gmail.com</li>
        </p>
      </div>
    </div>
  </div>
</div>
